{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/reservation.css') }}">
{% endblock %}

{% block body %}
<div class="container" id="mainContainer">
<h2 style="text-align: center;">RESERVATION DE MATERIELS</h2>
  <div class="container">
    <div class="row justify-content-md-center">

            {{ form_start(form, { 'attr' : { 'class': 'col-4' } }) }}
                <div class="row classWithPad">
                <div class="card shadow p-3 mb-5 bg-body rounded ">
                <div class="card-header">
                  Information Personnel
                </div>
                <div class="card-body">    
                  <div class="form-group">
                    <label for="form_Email">adresse email</label>
                    {{ form_widget(form.Email, {'attr': {'class': 'form-control' , 'placeholder' : 'email@example.com'}}) }}
                  </div>

                  <div class="form-group">
                    <label for="form_Nom">Nom</label>
                    {{ form_widget(form.Nom, {'attr': {'class': 'form-control' , 'placeholder' : 'DUPONT'}}) }}
                  </div>

                  <div class="form-group">
                    <label for="form_Prenom">Prenom</label>
                    {{ form_widget(form.Prenom, {'attr': {'class': 'form-control' , 'placeholder' : 'Jean'}}) }}
                  </div>

                  <div class="form-group">
                    <label for="form_Association">Association</label>
                    {{ form_widget(form.Association, {'attr': {'class': 'form-control' , 'placeholder' : 'Association'}}) }}
                    <small id="form_AssociationHelp" class="form-text text-muted">Les associations de St Aubin des Ormeaux peuvent emprunter gratuitement le matériel.</small>
                    <small id="form_AssociationHelp2" class="form-text text-muted">Une personne doit être nommée responsable de la location du métériel</small>
                  </div>

                  <div class="form-group">
                    <label for="form_DateDebutDeReservation">Date de Réservation</label>
                    <div class="input-group-prepend">
                    {{ form_widget(form.DateDebutDeReservation, {'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.DateFinDeReservation, {'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                </div>
                </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

             
    </div>

    {% if form2.children|length > 1 %}
    <div class="row justify-content-md-start ">
        <div class="card shadow p-3 mb-5 bg-body rounded">
        {{ form_start(form2, { 'attr' : { 'class': 'col-12' } }) }}
          <div class="row classWithPad">
                  {% for field in form2 %}
                      {% if field.vars.name != 'save' and field.vars.name != '_token'  %}  	
                        <div class="form-group col-2">
                          <label for="form_Prenom"> {{field.vars.attr.libelle}}</label>
                          {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                        </div>
                      {% endif %}
                  {% endfor %}
            
          </div>
        {{ form_end(form2, {'render_rest': false}) }}   
        </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}